{% if frontMatter.description %}
    {% put head %}
        <meta name="description" content="{{ frontMatter.description }}">
    {% endput %}
{% endif %}

{% put head %}
<meta name="og:title" content="{{ frontMatter.og.title|default(title) }}">
<meta name="og:description" content="{{ frontMatter.og.description|default(frontMatter.description) }}">
{% endput %}

<div class="rich-content">
{{ content | raw }}
</div>

<div class="my-10 font-semibold flex items-center">
    {% if previousPage %}
        <a class="mr-auto" href="{{ this.page.fileName | page({ slug: previousPage.getPath() }) }}">
            &larr;
            {{ previousPage.getTitle() }}
        </a>
    {% endif %}
    {% if nextPage %}
        <a class="ml-auto" href="{{ this.page.fileName | page({ slug: nextPage.getPath() }) }}">
            {{ nextPage.getTitle() }}
            &rarr;
        </a>
    {% endif %}
</div>

<div class="my-8 border-t border-grey-300 lg:border-grey-100 dark:border-navy"></div>
<div class="flex justify-between">
    <span>Copyright &copy; {{ 'now' | date('Y') }} <a href="https://wintercms.com/">Winter CMS</a></span>
    {% partial 'docs/github-edit' docId=docId pagePath=pagePath %}
</div>
