==
<?php
use Winter\SEO\Classes\Meta;

function onStart()
{
    if (!empty($this['frontMatter']['description'])) {
        Meta::set('description', $this['frontMatter']['description']);
    }
    if (!empty($this['frontMatter']['og']['title'])) {
        Meta::set('og:title', $this['frontMatter']['og']['title']);
    }
}
==
<div class="rich-content">
    {{ content | raw }}
</div>

<div class="my-10 font-semibold flex items-center">
    {% if previousPage %}
        <a class="mr-auto" href="{{ this.page.fileName | page({ slug: previousPage.getPath() }) }}">
            &larr;
            {{ previousPage.getTitle() }}
        </a>
    {% endif %}
    {% if nextPage %}
        <a class="ml-auto" href="{{ this.page.fileName | page({ slug: nextPage.getPath() }) }}">
            {{ nextPage.getTitle() }}
            &rarr;
        </a>
    {% endif %}
</div>

<div class="my-8 border-t border-grey-300 lg:border-grey-100 dark:border-navy"></div>
<div class="flex justify-between">
    <span>Copyright &copy; {{ 'now' | date('Y') }} <a href="https://wintercms.com/">Winter CMS</a></span>
    {% partial 'docs/github-edit' docId=docId pagePath=pagePath %}
</div>
