description = "Default layout"
==
{% put head %}
    <meta name="docRoot" content="{{ this.page.fileName | page({ slug: '' }) }}">
{% endput %}

{% partial "site/header" %}

<section id="navigation" class="
    bg-grey-100 dark:bg-navy-darker fixed hidden lg:flex flex-col items-start
    w-full opacity-0 lg:opacity-100 lg:mt-0 lg:w-[280px] xl:w-[350px] h-screen
    gap-6 lg:gap-8 py-6 lg:py-10 px-6 z-50
">
    <div class="w-full mt-4 lg:mt-0 flex flex-row-reverse gap-6 lg:flex-col items-center lg:items-start">
        <div class="w-auto lg:w-full h-10 flex flex-row justify-end lg:gap-2 xl:gap-8">
            <a
                href="{{ 'home' | page }}"
                title="Winter CMS Documentation"
                class="
                    hidden lg:block w-1/2 text-navy-light dark:text-grey-200 flex-grow
            ">
                {% partial 'site/logo' %}
            </a>

            <div id="settings" class="
                rounded-md bg-grey-200 dark:bg-navy hover:bg-grey-300 dark:hover:bg-navy-light
                px-4 py-2 transition-colors h-10 flex flex-row gap-2
                font-semibold text-caption-mobile lg:text-caption cursor-pointer self-end
            ">
                <span class="block flex-shrink-0 whitespace-nowrap">
                    {% partial 'docs/short-title' docId=docId %}
                </span>

                <span class="block arrow flex-shrink-0"></span>
            </div>

            <div
                role="tooltip"
                class="popover w-72"
                data-popover
                data-placement="bottom-end"
                data-target="#settings"
            >
                <div class="flex flex-col gap-2">
                    <div class="
                        text-caption-mobile lg:text-caption font-semibold text-grey-500 dark:text-blue
                    ">
                        Version 1.2
                    </div>

                    <div class="flex flex-row divide-x divide-grey-500 dark:divide-blue-dark">
                        <a
                            href="{{ 'winter-cms-12-documentation' | page({ slug: '' }) }}"
                            class="
                                block text-center text-grey-800 dark:text-white opacity-30 hover:opacity-70 pr-3 flex-grow
                                {% if docId == 'winter.winterdocs.winterbranch12' %} opacity-100 {% endif %}
                            "
                        >
                            Docs
                        </a>

                        <a
                            href="{{ 'winter-cms-12-api-documentation' | page({ slug: '' }) }}"
                            class="
                                block text-center text-grey-800 dark:text-white opacity-30 hover:opacity-70 px-3 flex-grow
                                {% if docId == 'winter.winterdocs.winterbranch12api' %} opacity-100 {% endif %}
                            "
                        >
                            API
                        </a>

                        <a
                            href="{{ 'winter-cms-12-markup-documentation' | page({ slug: '' }) }}"
                            class="
                                block text-center text-grey-800 dark:text-white opacity-30 hover:opacity-70 px-3 flex-grow
                                {% if docId == 'winter.winterdocs.winterbranch12markup' %} opacity-100 {% endif %}
                            "
                        >
                            Markup
                        </a>

                        <a
                            href="{{ 'winter-cms-12-user-interface-documentation' | page({ slug: '' }) }}"
                            class="
                                block text-center text-grey-800 dark:text-white opacity-30 hover:opacity-70 pl-3 flex-grow
                                {% if docId == 'winter.winterdocs.winterbranch12ui' %} opacity-100 {% endif %}
                            "
                        >
                            UI
                        </a>
                    </div>

                    <div class="flex flex-row gap-4 mt-3 pt-4 border-t border-grey-500 dark:border-blue-dark border-opacity-30 dark:border-opacity-30">
                        <a
                            href="#"
                            class="block text-center h-7 w-1/3 text-grey-800 dark:text-white opacity-30 hover:opacity-70"
                            data-theme="light"
                            title="Light theme"
                        >
                        </a>

                        <a
                            href="#"
                            class="block text-center h-7 w-1/3 text-grey-800 dark:text-white opacity-30 hover:opacity-70"
                            data-theme="dark"
                            title="Dark theme"
                        >
                        </a>

                        <a
                            href="#"
                            class="block text-center h-7 w-1/3 text-grey-800 dark:text-white opacity-30 hover:opacity-70"
                            data-theme="system"
                            title="Follow system preferences"
                        >
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full flex-grow lg:flex-grow-0">
            <a
                data-search
                class="
                    block cursor-pointer
                    bg-grey-200 focus:bg-grey-300 hover:bg-grey-300
                    dark:bg-navy dark:focus:bg-navy-light dark:hover:bg-navy-light
                    transition-colors outline-none rounded-md py-2 pl-4 px-8 w-full
                    text-grey-500 dark:text-blue-dark
                "
            >
                Search docs
            </a>
        </div>
    </div>

    <div id="docs-menu" class="
        flex-grow w-full overflow-y-auto sidebar-menu
        scrollbar scrollbar-track-transparent scrollbar-thumb-grey-300 dark:scrollbar-thumb-grey-500
    ">
        {% partial docsPage ~ "::menu" %}
    </div>
</section>

<div class="nav-menu lg:hidden fixed flex flex-row items-center gap-12 w-full h-[60px] bg-grey-100 dark:bg-navy-darker py-2 px-4 z-50 transition-transform">
    <div class="flex-grow-0">
        <a
            href="#"
            class="text-primary-blackgrey hover:text-primary transition-colors"
            data-mobile-menu
        >
            <svg class="block hamburger w-5 h-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.75C0 3.33579 0.373096 3 0.833333 3H19.1667C19.6269 3 20 3.33579 20 3.75C20 4.16421 19.6269 4.5 19.1667 4.5H0.833333C0.373096 4.5 0 4.16421 0 3.75Z" class="fill-current transition-all origin-center" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.25C0 9.83579 0.373096 9.5 0.833333 9.5H19.1667C19.6269 9.5 20 9.83579 20 10.25C20 10.6642 19.6269 11 19.1667 11H0.833333C0.373096 11 0 10.6642 0 10.25Z" class="fill-current transition-all origin-center" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 16.75C0 16.3358 0.373096 16 0.833333 16H19.1667C19.6269 16 20 16.3358 20 16.75C20 17.1642 19.6269 17.5 19.1667 17.5H0.833333C0.373096 17.5 0 17.1642 0 16.75Z" class="fill-current transition-all origin-center" />
            </svg>
        </a>
    </div>
    <div class="flex-grow">
        <a
            href="{{ 'home' | page }}"
            title="Winter CMS Documentation"
            class="block h-[40px] w-7 mx-auto overflow-hidden relative mobile-logo"
        >
            <svg class="w-32 h-[40px] transition-all absolute right-0 top-0" viewBox="0 0 8992 2212"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-miterlimit:10;">
                <g id="snowflake" class="stroke-blue dark:stroke-blue-dark">
                    <g>
                        <path d="M7997.78,1105.52l0,833.334" style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                        <path d="M7811.52,1476.42l186.252,-186.252l186.252,186.252"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;stroke-linecap:square;" />
                        <path d="M7756.83,1781.55l240.943,-240.944l240.944,240.944"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                    </g>
                    <g>
                        <path d="M7997.78,1105.52l-721.688,416.667"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                        <path d="M7583.44,1129.67l254.425,68.173l-68.173,254.425"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;stroke-linecap:square;" />
                        <path d="M7291.85,1234.87l329.135,88.191l-88.192,329.135"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                    </g>
                    <g>
                        <path d="M7997.78,1105.52l-721.688,-416.666"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                        <path d="M7769.69,758.767l68.173,254.425l-254.425,68.173"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;stroke-linecap:square;" />
                        <path d="M7532.79,558.841l88.192,329.135l-329.135,88.191"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                    </g>
                    <g>
                        <path d="M7997.78,1105.52l0,-833.333" style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                        <path d="M8184.03,734.614l-186.252,186.252l-186.252,-186.252"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;stroke-linecap:square;" />
                        <path d="M8238.72,429.49l-240.944,240.944l-240.943,-240.944"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                    </g>
                    <g>
                        <path d="M7997.78,1105.52l721.688,-416.666"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                        <path d="M8412.11,1081.37l-254.425,-68.173l68.173,-254.425"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;stroke-linecap:square;" />
                        <path d="M8703.7,976.167l-329.135,-88.191l88.191,-329.135"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                    </g>
                    <g>
                        <path d="M7997.78,1105.52l721.688,416.667"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                        <path d="M8225.86,1452.27l-68.173,-254.425l254.425,-68.173"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;stroke-linecap:square;" />
                        <path d="M8462.76,1652.19l-88.191,-329.135l329.135,-88.191"
                            style="fill:none;fill-rule:nonzero;stroke-width:54.17px;" />
                    </g>
                </g>
                <g id="wordmark" class="fill-current">
                    <path
                        d="M504.66,1821.46l-127.976,0l-376.684,-1431.88l108.659,-0l330.806,1267.69l347.709,-1267.69l147.293,-0l350.123,1267.69l330.806,-1267.69l108.659,-0l-376.684,1431.88l-127.976,0l-357.367,-1294.25l-357.368,1294.25Z" />
                    <rect x="1909.98" y="389.576" width="96.586" height="1431.88" />
                    <path
                        d="M2412.23,1821.46l-96.586,0l-0,-1431.88l132.805,-0l864.443,1313.57l-0,-1313.57l96.585,-0l0,1431.88l-132.805,0l-864.442,-1294.25l-0,1294.25Z" />
                    <path
                        d="M4160.43,1821.46l-96.585,0l-0,-1337.71l-490.173,-0l0,-94.171l1081.76,-0l0,94.171l-495.002,-0l0,1337.71Z" />
                    <path
                        d="M5754.1,1821.46l-934.467,0l0,-1431.88l934.467,-0l0,94.171l-837.881,-0l-0,550.538l765.442,0l-0,89.342l-765.442,0l-0,606.076l837.881,-0l0,91.756Z" />
                    <path
                        d="M6031.78,1821.46l-96.586,0l0,-1431.88l683.344,-0c98.196,-0 181.904,37.024 251.123,111.073c69.22,72.44 103.83,160.977 103.83,265.611c-0,91.757 -20.927,171.44 -62.781,239.05c-43.463,67.61 -97.39,107.049 -161.781,118.317c59.561,16.098 107.854,66.805 144.879,152.123c37.024,85.317 55.537,188.342 55.537,309.074c-0,67.61 1.609,118.318 4.829,152.123c3.219,40.244 9.658,68.415 19.317,84.512l-96.586,0c-16.097,-19.317 -26.561,-54.732 -31.39,-106.244l-7.244,-205.245c-0,-96.586 -23.342,-179.488 -70.025,-248.708c-45.073,-67.61 -100.61,-101.415 -166.61,-101.415l-569.856,-0l0,661.612Zm0,-750.954l569.856,0c75.659,0 140.854,-28.976 195.586,-86.927c53.122,-56.342 79.683,-125.561 79.683,-207.659c0,-80.488 -26.561,-149.708 -79.683,-207.66c-54.732,-56.341 -119.927,-84.512 -195.586,-84.512l-569.856,-0l0,586.758Z" />
                </g>
            </svg>
        </a>
    </div>
    <div class="text-right flex-grow-0">
        <a
            href="#"
            class="text-primary-blackgrey hover:text-primary transition-colors"
            data-mobile-toc
        >
            <svg class="hashburger w-5 h-5" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.24657 20.0717C4.83426 20.0321 4.53252 19.6283 4.57263 19.1698L6.17049 0.906267C6.2106 0.447796 6.57738 0.108206 6.98968 0.147801C7.40198 0.187397 7.70373 0.59119 7.66362 1.04966L6.06576 19.3132C6.02565 19.7717 5.65887 20.1113 5.24657 20.0717Z" class="fill-current transition-all origin-center" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2466 20.0717C11.8343 20.0321 11.5325 19.6283 11.5726 19.1698L13.1705 0.906267C13.2106 0.447796 13.5774 0.108206 13.9897 0.147801C14.402 0.187397 14.7037 0.59119 14.6636 1.04966L13.0658 19.3132C13.0256 19.7717 12.6589 20.1113 12.2466 20.0717Z" class="fill-current transition-all origin-center" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.25C0 5.8358 0.373096 5.5 0.833333 5.5L19.1667 5.5C19.6269 5.5 20 5.8358 20 6.25C20 6.6642 19.6269 7 19.1667 7L0.833333 7C0.373096 7 0 6.6642 0 6.25Z" class="fill-current transition-all origin-center" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 13.25C0 12.8358 0.373096 12.5 0.833333 12.5L19.1667 12.5C19.6269 12.5 20 12.8358 20 13.25C20 13.6642 19.6269 14 19.1667 14L0.833333 14C0.373096 14 0 13.6642 0 13.25Z" class="fill-current transition-all origin-center" />
            </svg>
        </a>
    </div>
</div>

<section
    id="content"
    class="w-full lg:ml-[280px] xl:ml-[350px] lg:w-1/2 xl:w-7/12 2xl:w-3/5 py-6 lg:py-10 px-6 lg:px-8 2xl:px-16 rich-content"
>
    <div id="docs-content" class="pb-10 pt-16 lg:pt-0 lg:pb-20 break-words md:break-normal">
        {% page %}
    </div>
</section>

<section
    id="toc"
    class="
        hidden fixed w-full h-screen z-50
        lg:w-1/4 lg:block lg:relative lg:py-10 lg:pr-8 2xl:pl-12
        toc-menu
    "
>
    <div
        id="docs-toc"
        class="w-full overflow-y-auto h-full p-8 lg:p-0"
        data-sticky
        data-offset-top="40"
        data-no-auto-height
    >
        {% partial docsPage ~ "::toc" docId=docId pagePath=pagePath %}
    </div>
</section>

<div class="modal-content" data-search>
    <div class="w-[90vw] sm:w-[75vw] lg:w-[800px] h-[500px] bg-grey-200 dark:bg-navy-light rounded">
        {% placeholder search %}
    </div>
</div>

{% partial "site/footer" %}

{#
    <div class="w-[300px] lg:w-[800px] h-[500px] bg-grey-200 dark:bg-navy-light rounded">
        <input
            type="text"
            class="
                block w-full text-h5 text-grey-800 dark:text-white p-4
                bg-grey-300 dark:bg-navy
                border-b border-grey-400 dark:border-blue-dark rounded-tl rounded-tr
                outline-none
                placeholder:text-grey-500 placeholder:dark:text-blue-dark
            "
            placeholder="Enter your search query"
        >
    </div>
#}
