span[class^="visibility"] {
    @apply inline-block px-2 py-px rounded-md mr-1 bg-grey-200 dark:bg-navy text-grey-900 dark:text-white;
}
span[class^="type visibility"] {
    @apply inline-block px-1 py-px rounded-md mr-1 bg-grey-200 dark:bg-navy text-grey-900 dark:text-white;
}

span[class^="visibility"],
span[class^="type visibility"] {
    &.visibility-inherited {
        background-color: #e0e0e0;
    }

    &.visibility-public {
        background-color: #d0e5cc;
    }

    &.visibility-protected {
        background-color: #c8c5e0;
    }

    &.visibility-private {
        background-color: #e0d7be;
    }
}

html.dark {
    span[class^="visibility"],
    span[class^="type visibility"] {
        &.visibility-inherited {
            background-color: #4a5961;
        }

        &.visibility-public {
            background-color: #2c4f25;
        }

        &.visibility-protected {
            background-color: #3a3666;
        }

        &.visibility-private {
            background-color: #554123;
        }
    }
}
