title = "Winter CMS Documentation"
url = "/"
layout = "home"
is_hidden = 0

[docsList]
==
<div class="h-full w-full flex flex-col items-center justify-between md:justify-center">
    <div class="w-10/12 flex flex-col gap-6">
        <div class="w-60 mx-auto">
            {% partial 'site/logo' %}
        </div>
        <div class="heading-1 -mt-6 mx-auto">
            Documentation
        </div>
        <div class="border-t border-grey-300 dark:border-navy-light"></div>
        {% for doc in docsList.docs %}
            <div class="flex flex-col md:flex-row p-2 w-2/3 mx-auto gap-4 items-center flex-wrap">
                <div class="heading-5 flex-grow md:order-1 order-1">
                    {{ doc.name }}
                </div>
                <div class="flex flex-row md:order-2 order-2">
                    <div class="flex-shrink text-right mr-2">
                        <a href="{{ doc.pageUrl }}" class="button button-primary">
                            View docs
                        </a>
                    </div>
                    {% if doc.sourceUrl %}
                        <div class="flex-shrink text-right">
                            <a href="{{ doc.sourceUrl }}" class="button button-outlined">
                                Source
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
