description = "Styling"
==
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;1,400&amp;family=Yantramanav:wght@300&amp;family=Cousine:wght@400;700&amp;display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ 'assets/css/theme.css' | theme }}">

{% styles %}
{% placeholder head %}

<meta name="theme-color" content="#F1F5F9" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#051016" media="(prefers-color-scheme: dark)">
